<h1>pas-appmaker/config/templates/README</h1>

<p>A framework for creating powerful application definitions.</p>

<h2>Templates</h2>

<p>Certain file types that exist in this directory will automatically be included at application creation time.</p>

<h3>Input Files</h3>

<p>app-inp.xml</p>

<pre><code>pas-appmaker/config/templates/app-inp.xml
</code></pre>

<p>app-inp-appname.xml</p>

<pre><code>pas-appmaker/config/templates/app-inp-appname.xml
</code></pre>

<p>app-conv.xml</p>

<pre><code>pas-appmaker/config/templates/app-conv.xml
</code></pre>

<p>app-conv-appname.xml</p>

<pre><code>pas-appmaker/config/templates/app-conv-appname.xml
</code></pre>

<p>input.environment</p>

<pre><code>pas-appmaker/config/templates/input.environment
</code></pre>

<p>input.hook</p>

<pre><code>pas-appmaker/config/templates/input.hook
</code></pre>

<h3>Submit Files</h3>

<p>submit.environment</p>

<pre><code>pas-appmaker/config/templates/submit.environment
</code></pre>

<p>submit.environment</p>

<pre><code>pas-appmaker/config/templates/submit.hook
</code></pre>

<h3>Start Files</h3>

<pre><code>pas-appmaker/config/templates/start.environment
</code></pre>

<p>start.hook</p>

<pre><code>pas-appmaker/config/templates/start.hook
</code></pre>

<h3>Actions Files</h3>

<p>app-actions.xml</p>

<pre><code>pas-appmaker/config/templates/app-actions.xml
</code></pre>

<p>app-actions-appname.xml</p>

<pre><code>pas-appmaker/config/templates/app-actions-appname.xml
</code></pre>

<p>actions.environment</p>

<pre><code>pas-appmaker/config/templates/actions.environment
</code></pre>

<p>actions.hook</p>

<pre><code>pas-appmaker/config/templates/actions.hook
</code></pre>

<h3>Exit Files</h3>

<p>exit.environment</p>

<pre><code>pas-appmaker/config/templates/exit.environment
</code></pre>

<p>exit.hook</p>

<pre><code>pas-appmaker/config/templates/exit.hook
</code></pre>

<h2>Copyright</h2>

<p>(c) Copyright 2013 - 2014 Altair Engineering, Inc. All rights reserved.</p>
